@import "tailwindcss";
:root {
  color-scheme: light dark;
}
:root {
 --text-50: #080b11;
  --text-100: #101623;
  --text-200: #212c45;
  --text-300: #314168;
  --text-400: #41578b;
  --text-500: #526dad;
  --text-600: #748abe;
  --text-700: #97a7ce;
  --text-800: #bac5de;
  --text-900: #dce2ef;
  --text-950: #eef0f7;

  --background-50: #080a11;
  --background-100: #111422;
  --background-200: #212845;
  --background-300: #323c67;
  --background-400: #424f8a;
  --background-500: #5363ac;
  --background-600: #7582bd;
  --background-700: #98a2cd;
  --background-800: #bac1de;
  --background-900: #dde0ee;
  --background-950: #eeeff7;

  --primary-50: #080b11;
  --primary-100: #101623;
  --primary-200: #202d46;
  --primary-300: #304369;
  --primary-400: #40598c;
  --primary-500: #5070af;
  --primary-600: #738cbf;
  --primary-700: #96a9cf;
  --primary-800: #b9c6df;
  --primary-900: #dce2ef;
  --primary-950: #eef1f7;

  --secondary-50: #100811;
  --secondary-100: #201023;
  --secondary-200: #402046;
  --secondary-300: #5f3069;
  --secondary-400: #7f408c;
  --secondary-500: #9f50af;
  --secondary-600: #b273bf;
  --secondary-700: #c596cf;
  --secondary-800: #d9b9df;
  --secondary-900: #ecdcef;
  --secondary-950: #f5eef7;

  --accent-50: #11080f;
  --accent-100: #23101e;
  --accent-200: #46203b;
  --accent-300: #693059;
  --accent-400: #8c4076;
  --accent-500: #af5094;
  --accent-600: #bf73a9;
  --accent-700: #cf96bf;
  --accent-800: #dfb9d4;
  --accent-900: #efdcea;
  --accent-950: #f7eef4;
}
@theme {
  --color-text-50: var(--text-50);
  --color-text-100: var(--text-100);
  --color-text-200: var(--text-200);
  --color-text-300: var(--text-300);
  --color-text-400: var(--text-400);
  --color-text-500: var(--text-500);
  --color-text-600: var(--text-600);
  --color-text-700: var(--text-700);
  --color-text-800: var(--text-800);
  --color-text-900: var(--text-900);
  --color-text-950: var(--text-950);

  --color-background-50: var(--background-50);
  --color-background-100: var(--background-100);
  --color-background-200: var(--background-200);
  --color-background-300: var(--background-300);
  --color-background-400: var(--background-400);
  --color-background-500: var(--background-500);
  --color-background-600: var(--background-600);
  --color-background-700: var(--background-700);
  --color-background-800: var(--background-800);
  --color-background-900: var(--background-900);
  --color-background-950: var(--background-950);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);
}
@media (prefers-color-scheme: light) {
  :root {
 --text-50: #eef1f7;
  --text-100: #dde2ee;
  --text-200: #bac5de;
  --text-300: #98a9cd;
  --text-400: #758cbd;
  --text-500: #536fac;
  --text-600: #42598a;
  --text-700: #324367;
  --text-800: #212c45;
  --text-900: #111622;
  --text-950: #080b11;

  --background-50: #eeeff7;
  --background-100: #dde0ee;
  --background-200: #bac1de;
  --background-300: #98a2cd;
  --background-400: #7582bd;
  --background-500: #5363ac;
  --background-600: #424f8a;
  --background-700: #323c67;
  --background-800: #212845;
  --background-900: #111422;
  --background-950: #080a11;

  --primary-50: #eef1f7;
  --primary-100: #dce2ef;
  --primary-200: #b9c6df;
  --primary-300: #96a9cf;
  --primary-400: #738cbf;
  --primary-500: #5070af;
  --primary-600: #40598c;
  --primary-700: #304369;
  --primary-800: #202d46;
  --primary-900: #101623;
  --primary-950: #080b11;

  --secondary-50: #f6eef7;
  --secondary-100: #ecdcef;
  --secondary-200: #d9b9df;
  --secondary-300: #c696cf;
  --secondary-400: #b373bf;
  --secondary-500: #a150af;
  --secondary-600: #80408c;
  --secondary-700: #603069;
  --secondary-800: #402046;
  --secondary-900: #201023;
  --secondary-950: #100811;

  --accent-50: #f7eef4;
  --accent-100: #efdcea;
  --accent-200: #dfb9d4;
  --accent-300: #cf96bf;
  --accent-400: #bf73a9;
  --accent-500: #af5094;
  --accent-600: #8c4076;
  --accent-700: #693059;
  --accent-800: #46203b;
  --accent-900: #23101e;
  --accent-950: #11080f;

  }
}
